@charset "UTF-8";

@font-face {
	font-family:"tmicons";
	src:url("../tmicons.eot?39eb5cfbeb164f444b8a2aad42ca1ab5");
	src:url("../tmicons.eot?#iefix") format("embedded-opentype"),
		url("../tmicons.woff?39eb5cfbeb164f444b8a2aad42ca1ab5") format("woff"),
		url("../tmicons.ttf?39eb5cfbeb164f444b8a2aad42ca1ab5") format("truetype"),
		url("../tmicons.svg?39eb5cfbeb164f444b8a2aad42ca1ab5#tmicons") format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
  font-family: "tmicons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="tmicon-"]:before,
[class*=" tmicon-"]:before {
	font-family:"tmicons";
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


// Icons


.tmicon-add-favourite:before {
	content:"\62";
}


.tmicon-bag:before {
	content:"\61697";
}


.tmicon-bank-account-add:before {
	content:"\61698";
}


.tmicon-bank-account-number:before {
	content:"\61699";
}


.tmicon-bank-account:before {
	content:"\61700";
}


.tmicon-bathroom:before {
	content:"\61701";
}


.tmicon-bedroom:before {
	content:"\61702";
}


.tmicon-bin:before {
	content:"\61703";
}


.tmicon-bookmark-add:before {
	content:"\61704";
}


.tmicon-bookmark-remove:before {
	content:"\61705";
}


.tmicon-bookmark:before {
	content:"\61706";
}


.tmicon-box-cross:before {
	content:"\61707";
}


.tmicon-box-tick:before {
	content:"\61708";
}


.tmicon-box:before {
	content:"\61709";
}


.tmicon-calendar:before {
	content:"\61710";
}


.tmicon-camera-cross:before {
	content:"\61711";
}


.tmicon-camera-minus:before {
	content:"\61712";
}


.tmicon-camera-plus:before {
	content:"\61713";
}


.tmicon-camera-tick:before {
	content:"\61714";
}


.tmicon-camera:before {
	content:"\61715";
}


.tmicon-cart-cross:before {
	content:"\61716";
}


.tmicon-cart-delivery:before {
	content:"\61717";
}


.tmicon-cart-question:before {
	content:"\61718";
}


.tmicon-cart-tick:before {
	content:"\61719";
}


.tmicon-cart:before {
	content:"\61720";
}


.tmicon-circle-clock:before {
	content:"\61721";
}


.tmicon-circle-cross:before {
	content:"\61722";
}


.tmicon-circle-info:before {
	content:"\61723";
}


.tmicon-circle-minus:before {
	content:"\61724";
}


.tmicon-circle-plus:before {
	content:"\61725";
}


.tmicon-circle-question:before {
	content:"\61726";
}


.tmicon-circle-tick:before {
	content:"\61727";
}


.tmicon-circle-warning-1:before {
	content:"\61728";
}


.tmicon-circle-warning:before {
	content:"\61729";
}


.tmicon-cloud-download:before {
	content:"\61730";
}


.tmicon-cloud-upload:before {
	content:"\61731";
}


.tmicon-cloud:before {
	content:"\61732";
}


.tmicon-code:before {
	content:"\61733";
}


.tmicon-credit-card-add:before {
	content:"\61734";
}


.tmicon-credit-card-csv:before {
	content:"\61735";
}


.tmicon-credit-card:before {
	content:"\61736";
}


.tmicon-devices-desktop:before {
	content:"\61737";
}


.tmicon-devices-smartphone:before {
	content:"\61738";
}


.tmicon-dimension-height:before {
	content:"\61739";
}


.tmicon-dimension-ruler:before {
	content:"\61740";
}


.tmicon-dimension-weight:before {
	content:"\61741";
}


.tmicon-dimension-width:before {
	content:"\61742";
}


.tmicon-docs-clipboard:before {
	content:"\61743";
}


.tmicon-docs-folder:before {
	content:"\61744";
}


.tmicon-docs-page-1:before {
	content:"\61745";
}


.tmicon-docs-page-2:before {
	content:"\61746";
}


.tmicon-docs-pages-1:before {
	content:"\61747";
}


.tmicon-docs-pages-2:before {
	content:"\61748";
}


.tmicon-edit-bullet-list-2:before {
	content:"\61749";
}


.tmicon-edit-bullet-list:before {
	content:"\61750";
}


.tmicon-edit-crop:before {
	content:"\61751";
}


.tmicon-edit-expand-window:before {
	content:"\61752";
}


.tmicon-edit-expand:before {
	content:"\61753";
}


.tmicon-edit-full-screen:before {
	content:"\61754";
}


.tmicon-edit-gallery-2:before {
	content:"\61755";
}


.tmicon-edit-gallery:before {
	content:"\61756";
}


.tmicon-edit-go-back:before {
	content:"\61757";
}


.tmicon-edit-hamburger-menu:before {
	content:"\61758";
}


.tmicon-edit-list:before {
	content:"\61759";
}


.tmicon-edit-page-layers:before {
	content:"\61760";
}


.tmicon-edit-reduce-window:before {
	content:"\61761";
}


.tmicon-edit-rotate:before {
	content:"\61762";
}


.tmicon-edit-scissors:before {
	content:"\61763";
}


.tmicon-edit-window-layers:before {
	content:"\61764";
}


.tmicon-edit-window:before {
	content:"\61765";
}


.tmicon-edit:before {
	content:"\25";
}


.tmicon-emo-happy:before {
	content:"\61766";
}


.tmicon-emo-neutral:before {
	content:"\61767";
}


.tmicon-emo-sad:before {
	content:"\61768";
}


.tmicon-emo-smile:before {
	content:"\61769";
}


.tmicon-feedback-1:before {
	content:"\61770";
}


.tmicon-feedback-10:before {
	content:"\61771";
}


.tmicon-feedback-100:before {
	content:"\61772";
}


.tmicon-feedback-1000:before {
	content:"\61773";
}


.tmicon-feedback-10000:before {
	content:"\61774";
}


.tmicon-feedback-1500:before {
	content:"\61775";
}


.tmicon-feedback-200:before {
	content:"\61776";
}


.tmicon-feedback-2000:before {
	content:"\61777";
}


.tmicon-feedback-20000:before {
	content:"\61778";
}


.tmicon-feedback-3000:before {
	content:"\61779";
}


.tmicon-feedback-30000:before {
	content:"\61780";
}


.tmicon-feedback-4000:before {
	content:"\61781";
}


.tmicon-feedback-40000:before {
	content:"\61782";
}


.tmicon-feedback-50:before {
	content:"\61783";
}


.tmicon-feedback-500:before {
	content:"\61784";
}


.tmicon-feedback-5000:before {
	content:"\61785";
}


.tmicon-feedback-50000:before {
	content:"\61786";
}


.tmicon-feedback-admin:before {
	content:"\61787";
}


.tmicon-flag-1:before {
	content:"\61788";
}


.tmicon-flag-2:before {
	content:"\61789";
}


.tmicon-function-arrow-down:before {
	content:"\61790";
}


.tmicon-function-arrow-left:before {
	content:"\61791";
}


.tmicon-function-arrow-right:before {
	content:"\61792";
}


.tmicon-function-arrow-up:before {
	content:"\61793";
}


.tmicon-function-cross:before {
	content:"\61794";
}


.tmicon-function-exclamation:before {
	content:"\61795";
}


.tmicon-function-minus:before {
	content:"\61796";
}


.tmicon-function-plus:before {
	content:"\61797";
}


.tmicon-function-tick:before {
	content:"\61798";
}


.tmicon-graph-2:before {
	content:"\61799";
}


.tmicon-graph:before {
	content:"\61800";
}


.tmicon-heart-lock:before {
	content:"\61802";
}


.tmicon-heart-remove:before {
	content:"\61803";
}


.tmicon-heart-tick:before {
	content:"\61804";
}


.tmicon-heart:before {
	content:"\61805";
}


.tmicon-house-blueprint:before {
	content:"\61806";
}


.tmicon-house-land-area-2:before {
	content:"\61807";
}


.tmicon-house:before {
	content:"\61808";
}


.tmicon-image-none:before {
	content:"\61809";
}


.tmicon-image:before {
	content:"\61810";
}


.tmicon-inside-view:before {
	content:"\61811";
}


.tmicon-key:before {
	content:"\61812";
}


.tmicon-lightbulb:before {
	content:"\61813";
}


.tmicon-location-1:before {
	content:"\61814";
}


.tmicon-location-2:before {
	content:"\61815";
}


.tmicon-location-3:before {
	content:"\61816";
}


.tmicon-lock-closed:before {
	content:"\61817";
}


.tmicon-lock-open:before {
	content:"\61818";
}


.tmicon-mail-open:before {
	content:"\61819";
}


.tmicon-mail:before {
	content:"\23";
}


.tmicon-maps-boys-school:before {
	content:"\61820";
}


.tmicon-maps-directions:before {
	content:"\61821";
}


.tmicon-maps-girls-school:before {
	content:"\61822";
}


.tmicon-maps-my-location:before {
	content:"\61823";
}


.tmicon-maps-street-view:before {
	content:"\61824";
}


.tmicon-maps:before {
	content:"\61825";
}


.tmicon-misc-bell:before {
	content:"\61826";
}


.tmicon-misc-briefcase:before {
	content:"\61827";
}


.tmicon-misc-calculator:before {
	content:"\61828";
}


.tmicon-misc-link:before {
	content:"\61829";
}


.tmicon-misc-newspaper:before {
	content:"\61830";
}


.tmicon-misc-refresh:before {
	content:"\61831";
}


.tmicon-misc-video-camera:before {
	content:"\61832";
}


.tmicon-misc-watch:before {
	content:"\61833";
}


.tmicon-misc-wrench:before {
	content:"\61834";
}


.tmicon-motors-boat:before {
	content:"\61835";
}


.tmicon-motors-car:before {
	content:"\61836";
}


.tmicon-motors-motorbike:before {
	content:"\61837";
}


.tmicon-music-headphones:before {
	content:"\61838";
}


.tmicon-music-note:before {
	content:"\61839";
}


.tmicon-open-home-planner:before {
	content:"\61840";
}


.tmicon-phone:before {
	content:"\28";
}


.tmicon-printer:before {
	content:"\78";
}


.tmicon-profile-2:before {
	content:"\61841";
}


.tmicon-profile:before {
	content:"\61842";
}


.tmicon-refine-1:before {
	content:"\61843";
}


.tmicon-refine-2:before {
	content:"\61844";
}


.tmicon-refine-3:before {
	content:"\61845";
}


.tmicon-school-zone:before {
	content:"\61846";
}


.tmicon-search-2:before {
	content:"\61847";
}


.tmicon-search-check:before {
	content:"\61848";
}


.tmicon-search-cross:before {
	content:"\61849";
}


.tmicon-search-zoom-in:before {
	content:"\61850";
}


.tmicon-search-zoom-out:before {
	content:"\61851";
}


.tmicon-search:before {
	content:"\61852";
}


.tmicon-send:before {
	content:"\61853";
}


.tmicon-settings:before {
	content:"\61854";
}


.tmicon-shield:before {
	content:"\61855";
}


.tmicon-shop-cash-register:before {
	content:"\61856";
}


.tmicon-shop-shopping-bag-multi:before {
	content:"\61857";
}


.tmicon-shop-shopping-bag:before {
	content:"\61858";
}


.tmicon-shop-wallet:before {
	content:"\61859";
}


.tmicon-shop:before {
	content:"\61860";
}


.tmicon-social-facebook-1:before {
	content:"\61861";
}


.tmicon-social-linkedin-1:before {
	content:"\61862";
}


.tmicon-social-share:before {
	content:"\61863";
}


.tmicon-social-twitter-1:before {
	content:"\61864";
}


.tmicon-sound-off:before {
	content:"\61865";
}


.tmicon-sound-on:before {
	content:"\61866";
}


.tmicon-speech-bubble-1:before {
	content:"\61867";
}


.tmicon-speech-bubble-2:before {
	content:"\61868";
}


.tmicon-speech-bubble-3:before {
	content:"\61869";
}


.tmicon-star-add:before {
	content:"\61870";
}


.tmicon-star-filled:before {
	content:"\61871";
}


.tmicon-star-half-filled:before {
	content:"\61872";
}


.tmicon-star-remove:before {
	content:"\61873";
}


.tmicon-star:before {
	content:"\45";
}


.tmicon-tag-2-multi:before {
	content:"\61874";
}


.tmicon-tag-2:before {
	content:"\61875";
}


.tmicon-tag-cross:before {
	content:"\61876";
}


.tmicon-tag-tick:before {
	content:"\61877";
}


.tmicon-tag:before {
	content:"\61878";
}


.tmicon-thumbs-down:before {
	content:"\61879";
}


.tmicon-thumbs-up:before {
	content:"\61880";
}


.tmicon-timer:before {
	content:"\61881";
}


.tmicon-transaction:before {
	content:"\61882";
}


.tmicon-transfer-money-out:before {
	content:"\61883";
}


.tmicon-trophee-lost:before {
	content:"\61884";
}


.tmicon-trophee-won:before {
	content:"\61885";
}


.tmicon-trophee:before {
	content:"\61886";
}


.tmicon-truck-check:before {
	content:"\61887";
}


.tmicon-truck-cross:before {
	content:"\61888";
}


.tmicon-truck-delivery:before {
	content:"\61889";
}


.tmicon-truck-free:before {
	content:"\61890";
}


.tmicon-truck-time:before {
	content:"\61891";
}


.tmicon-truck:before {
	content:"\5f";
}


.tmicon-video-backward:before {
	content:"\61892";
}


.tmicon-video-forward:before {
	content:"\61893";
}


.tmicon-video-pause:before {
	content:"\61894";
}


.tmicon-video-play:before {
	content:"\61895";
}


.tmicon-video-stop:before {
	content:"\61896";
}


.tmicon-watchlist-add:before {
	content:"\61897";
}


.tmicon-watchlist-remove:before {
	content:"\61898";
}


.tmicon-watchlist-tick:before {
	content:"\61899";
}


.tmicon-watchlist:before {
	content:"\61900";
}
